body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
.sidemenu{
	position:absolute;
	top: 30px;
	width: 140px;
	height: 80px;
	z-index: 1;
	line-height: normal;
	background: rgba(114, 114, 114, 0.4);
	transition:
		width 2s,
		height 2s,
		background-color 2s,
		opacity 2s;
}
.sidemenu:hover{
	width: 180px;
	height: 300px;
	background: rgba(114, 114, 114, 0.6);
}
#leftmenu {
	left: 0px;
}
#rightmenu {
	right: 0px;
	text-align: right;
}
.sidemenu .options{
	opacity: 0;
	display: hidden;
	transition: opacity 2s;
}
.sidemenu:hover .options{
	opacity: 100;
	display: inherit;
}

#bottommenu{
	z-index:1;
	line-height: normal;
	transition:
		width 2s,
		height 2s,
		background-color 2s,
		opacity 2s,
		bottom 2s;
}

.pane{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background:  rgba(114, 114, 114, 0.6);
	transition: inherit;
	z-index: inherit;
	display: flex;
	justify-content: center;
}

.arrow{
	position: absolute;
	bottom: 5px;
	right: 50%;
	border: solid rgb(100, 100, 100);
  	border-width: 0 3px 3px 0;
  	padding: 3px;
	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	z-index: 1;
	transition: inherit;
}

.open>.arrow {
	bottom: calc(15% + 5px);
}

.open>.pane {
	height: 15%;
	opacity: 100;
}

.closed>.pane {
	height: 0%;
	opacity: 0;

}




.github{
	position:absolute;
	bottom: 5px;
	right: 5px;
	z-index: 1;
	
}